[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
# checkov:skip=CVE-2018-25091:My cve reason
# checkov:skip=certifi[BC_LIC_3]:My license reason

[dev-packages]
pytest = "*"
